[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-alembic = "*"
psycopg2-binary = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.8"
